In [1]:
import pandas as pd
import plotly.express as px

# Sample DataFrame
data = {
    'Category': ['A', 'B', 'C', 'D'],
    'Value': [10, 15, 7, 12]
}

df = pd.DataFrame(data)

# Create a Plotly bar chart
fig = px.bar(df, x='Category', y='Value', title='Sample Plotly Visualization')

In [3]:
!pip install pdfkit

Requirement already satisfied: pdfkit in c:\users\e008943\ds_process\ds_venv\lib\site-packages (1.0.0)

In [4]:
import pdfkit

# Define HTML content for the report
html_content = f"""
<!DOCTYPE html>
<html>
<head>
    <title>PDF Report</title>
</head>
<body>
    <h1>Sample PDF Report</h1>
    <div>
        {fig.to_html(include_plotlyjs='cdn')}
    </div>
</body>
</html>
"""

# Save the HTML content to a file
with open('report.html', 'w') as f:
    f.write(html_content)

# Convert the HTML to a PDF
pdfkit.from_file('report.html', 'report.pdf')

ModuleNotFoundError: No module named 'pdfkit'

In [2]:
!pip install pandas plotly reportlab

Requirement already satisfied: pandas in c:\users\e008943\ds_process\ds_venv\lib\site-packages (2.0.3)
Requirement already satisfied: plotly in c:\users\e008943\ds_process\ds_venv\lib\site-packages (5.17.0)
Requirement already satisfied: reportlab in c:\users\e008943\ds_process\ds_venv\lib\site-packages (4.0.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\e008943\ds_process\ds_venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\e008943\ds_process\ds_venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\e008943\ds_process\ds_venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\e008943\ds_process\ds_venv\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\e008943\ds_process\ds_venv\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\e008943\ds_process\ds_venv\lib\site-packages (from plotly) (23.1)
Requirement already satisfied: pillow>=9.0.0 in c:\users\e008943\ds_process\ds_venv\lib\site-packages (from reportlab) (10.0.1)
Requirement already satisfied: six>=1.5 in c:\users\e008943\ds_process\ds_venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd
import plotly.express as px
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Paragraph, Spacer
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.lib import colors
from reportlab.platypus import Image

ModuleNotFoundError: No module named 'reportlab'

In [ ]:
# Sample DataFrame creation
data = {
    'Category': ['A', 'B', 'C', 'D'],
    'Values': [10, 25, 15, 30]
}

df = pd.DataFrame(data)

In [ ]:
fig = px.bar(df, x='Category', y='Values', title='Sample Bar Chart')

In [ ]:
# Create a PDF document
pdf_filename = "report.pdf"
doc = SimpleDocTemplate(pdf_filename, pagesize=letter)
story = []

# Add a title to the report
styles = getSampleStyleSheet()
title = Paragraph("Sample Report", styles['Title'])
story.append(title)
story.append(Spacer(1, 12))

# Add the Plotly visualization as an image to the report
plotly_image = Image(fig.to_image(format="png"), width=400, height=300)
story.append(plotly_image)

# Save the PDF report
doc.build(story)

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv(r'C:/Users/E008943/Downloads/titanic (1).csv')

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df.shape

(891, 12)

In [8]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
numerical_cols = df.select_dtypes(include=['number','int64','float64']).columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

In [30]:
num_res = dict(df[numerical_cols].describe())
cat_res = dict(df[categorical_cols].describe(include=['O']))

In [41]:
# df2 = pd.read_csv(r'C:/Users/E008943/ds_process/test_data/weather_2016_2020_daily.csv')
# df2.describe(include='all')

In [31]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [36]:
import numpy as np
def calculate_numeric_column_attributes(dataframe, column_name):
    # Select the specified column
    column = dataframe[column_name]
    
     # Calculate NaN values count
    nan_count = column.isna().sum()
    
    # Calculate distinct values and distinct percentage
    distinct_count = column.nunique()
    distinct_percentage = (distinct_count / len(column)) * 100
    
    # Calculate missing values and missing percentage
    missing_count = column.isnull().sum()
    missing_percentage = (missing_count / len(column)) * 100
    
    # Calculate infinite values and infinite percentage
    infinite_count = np.isinf(column).sum()
    infinite_percentage = (infinite_count / len(column)) * 100
    
    # Calculate mean, median, mode, min, and max
    mean = column.mean()
    median = column.median()
    try:
        mode = column.mode().iloc[0]
    except IndexError:
        mode = 'ERROR'
#         print('Specified column index out of bounds')
    minimum = column.min()
    maximum = column.max()
    
    # Calculate zeros and zeros percentage
    zero_count = (column == 0).sum()
    zero_percentage = (zero_count / len(column)) * 100
    
    # Calculate memory usage
    memory_usage = column.memory_usage(deep=True)/(1024 * 1024)
    
    # Calculate quantile values (25th, 50th, and 75th percentiles)
    quantiles = column.quantile([0.25, 0.5, 0.75])
    q_25 = quantiles[0.25]
    q_50 = quantiles[0.5]
    q_75 = quantiles[0.75]
    # IQR
    iqr = q_75 - q_25
    # Calculate range
    column_range = maximum - minimum
    
    # Calculate kurtosis and skewness
    kurtosis = column.kurtosis()
    skewness = column.skew()
    
    # Calculate variance and standard deviation
    variance = column.var()
    std_deviation = column.std()
    
    # Create a dictionary to store the results
    attributes = {
        "column_name":column_name,
        "Distinct": distinct_count,
        "nan values count":nan_count,
        "Distinct Percentage": round(distinct_percentage,2),
        "Missing": missing_count,
        "Missing Percentage": round(missing_percentage,2),
#         "Infinite": infinite_count,
#         "Infinite Percentage": round(infinite_percentage,2),
        "Mean": mean,
        "Median": median,
        "Mode": mode,
        "Minimum": minimum,
        "Maximum": maximum,
        "Zeros": zero_count,
        "Zeros Percentage": zero_percentage,
        "Memory Usage(MB)": round(memory_usage,2),
        "25th Percentile": q_25,
        "50th Percentile": q_50,
        "75th Percentile": q_75,
        "IQR":iqr,
        "Range": column_range,
        "Kurtosis": kurtosis,
        "Skewness": skewness,
        "Variance": variance,
        "Standard Deviation": std_deviation,
    }
    
    return attributes

calculate_numeric_column_attributes(df, 'Age')

{'column_name': 'Age',
 'Distinct': 88,
 'nan values count': 177,
 'Distinct Percentage': 9.88,
 'Missing': 177,
 'Missing Percentage': 19.87,
 'Mean': 29.69911764705882,
 'Median': 28.0,
 'Mode': 24.0,
 'Minimum': 0.42,
 'Maximum': 80.0,
 'Zeros': 0,
 'Zeros Percentage': 0.0,
 'Memory Usage(MB)': 0.01,
 '25th Percentile': 20.125,
 '50th Percentile': 28.0,
 '75th Percentile': 38.0,
 'IQR': 17.875,
 'Range': 79.58,
 'Kurtosis': 0.17827415364210353,
 'Skewness': 0.38910778230082704,
 'Variance': 211.0191247463081,
 'Standard Deviation': 14.526497332334044}

In [ ]:
# nan count, %
# dist, %
# zero count
# memory usuage
# IQR
# Kurtosis
# Skewness
# variance
# standard deviation

In [105]:
def data_description(df):
    var_results = {}
    return df.describe(include='all')
    
#     numerical_cols = df.select_dtypes(include=['number','int64','float64']).columns
#     categorical_cols = df.select_dtypes(include=['object', 'category']).columns
#     print("numerical_cols",numerical_cols)
#     print("categorical_cols",categorical_cols)
#     if len(numerical_cols) !=0:
#         num_res = dict(df[numerical_cols].describe())
#     elif len(categorical_cols) !=0:
#         cat_res = dict(df[categorical_cols].describe(include=['O']))
    
# #     var_results['numerical_results'] = {key:dict(value) for key, value in num_res.items()}
# #     var_results['categorical_results'] = {key:dict(value) for key, value in cat_res.items()}
    
    
# #     return var_results

#     return {key:dict(value) for key, value in num_res.items()}, {key:dict(value) for key, value in cat_res.items()}

In [101]:
# pd.DataFrame(data_description(df)[0]).T

In [102]:
# pd.DataFrame(data_description(df)[1]).T

In [103]:
def dup_data_description(df,table_name):
    
    desc_results = {}
    var_results = {}
    
    df_shape = df.shape
    desc_results['no_of_observations'] = df_shape[0]
    desc_results['no_of_variables'] = df_shape[1]

    # Get the data types of columns
    column_data_types = df.dtypes

    # Find unique data types
    unique_data_types = column_data_types.unique()

    # Create a dictionary to store column names by data type
    column_names_by_dtype = {dtype: [] for dtype in unique_data_types}

    # Iterate through columns and categorize them by data type
    for column_name, dtype in column_data_types.iteritems():
        column_names_by_dtype[dtype].append(column_name)
    
    missing_values_count = df.isnull().sum()

    # Calculate missing values percentage per column
    total_values = df.shape[0]
    missing_values_percentage = (missing_values_count / total_values) * 100
    
    # Calculate the number of duplicate rows
    duplicate_rows = df.duplicated(keep='first')  # Keep the first occurrence as not duplicate
    num_duplicates = duplicate_rows.sum()
    
    desc_results['duplicate_rows'] = num_duplicates
    
    # Calculate the number of duplicate rows
    num_duplicate_rows = df.duplicated().sum()

    # Calculate the total number of rows
    total_rows = len(df)

    # Calculate the percentage of duplicate rows
    duplicate_percentage = (num_duplicate_rows / total_rows) * 100
    
    desc_results['duplicate_percentage'] = duplicate_percentage
    
    # Calculate memory usage for each column
    memory_usage_per_column = df.memory_usage(deep=True)

    # Calculate the total memory usage for the entire DataFrame in bytes
    total_memory_usage = memory_usage_per_column.sum()

    # Convert the total memory usage to a more human-readable format (e.g., megabytes)
    total_memory_usage_MB = round(total_memory_usage / (1024 * 1024),2)  # Convert bytes
    
    desc_results['memory_usuage(MB)'] = total_memory_usage_MB
    
    return desc_results

In [127]:
import os
root_dir = r'C:\Users\E008943\ds_process\test_data'
li_files = os.listdir(root_dir)

filename = "checking_data"#,root_dir.split('\\')[-1]

with pd.ExcelWriter(f"{filename}.xlsx") as writer:
    tab_names = []
    tab_obs = []
    for table_name in li_files:
        path_ = os.path.join(root_dir, table_name)
        df = pd.read_csv(path_)
        tab_names.append(table_name)
        tab_obs.append(dup_data_description(df, table_name))
        res_df = pd.DataFrame(data_description(df)).T
        res_df['Columns'] = data_description(df).columns
        if not (res_df.empty):
                res_df.to_excel(writer, sheet_name=(os.path.splitext(table_name)[0]+'_'+k)[:30], index=False)

    desc_df = pd.DataFrame(dict(zip(tab_names,tab_obs))).T
    desc_df.to_excel(writer, sheet_name='Table desc')